In [1]:
# Raw data
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

# Add your code here
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [3]:
# Replace all instances of # in medical_data with $. Store the result in a variable called updated_medical_data.
# Print updated_medical_data.

updated_medical_data = medical_data.replace("#","$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [5]:
# Create a variable called num_records and initialize it at 0. 
# Next, write a for loop to iterate through the updated_medical_data string. 
# Inside of the loop, add 1 to num_records when the current character is equal to $

num_records = 0
for i in updated_medical_data:
  if i == "$":
     num_records += 1

# Outside of the loop, print num_records with the following message:
print("There are {} medical records in the data".format(num_records))

There are 10 medical records in the data

In [6]:
# Let’s start off by splitting the updated_medical_data string into a list of each medical record. 
# Remember that each medical record is separated by a ; in the string.
# Store the result in a variable called medical_data_split and print this variable.

medical_data_split = updated_medical_data.split(';')
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [7]:
# Our data is now stored in a list, but it is still hard to read. Let’s split each medical record into its own list.
# First, define an empty list called medical_records.

medical_records = []

# Next, iterate through medical_data_split and for each record, split the string after each comma (,) 
# and append the split string to medical_records.
# Print medical_records after the loop.

for i in medical_data_split:
  medical_records.append(i.split(","))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [9]:
# Our data is now slightly more readable. However, it is not properly formatted – it contains unnecessary whitespace.
# To fix this, let’s start by creating an empty list called medical_records_clean

medical_records_clean = []

# Next, use a for loop to iterate through medical_records.
# Inside of the loop, create an empty list called record_clean. 
# We’ll use this list to store a formatted version of each medical record.
# After the record_clean variable, create a nested for loop that goes through each record
# Inside of this loop, append item.strip() to record_clean to remove any whitespace from the string.
# Finally, we need to add each cleaned up record to medical_records_clean.
# Outside of the nested for loop, append record_clean to medical_records_clean.

for i in medical_records:
  record_clean = []
  for item in i:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)

# Print medical_records_clean outside of the for loops to see the output.

print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [10]:
# You want all of the names in the medical records to be in uppercase characters.
# In the for loop, update records[0] before the print statement so that all of the characters are uppercase.

for i in medical_records_clean:
  i[0] = i[0].upper()
  print(i[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [11]:
# Let’s store each name, age, BMI, and insurance cost in separate lists.
# To start, create four empty lists:
# names
# ages
# bmis
# insurance_costs

names = []
ages = []
bmis = []
insurance_costs = []

# Next, iterate through medical_records_clean and for each record:
# Append the name to names.
# Append the age to ages.
# Append the BMI to bmis.
# Append the insurance cost to insurance_costs.

for i in medical_records_clean:
  names.append(i[0])
  ages.append(i[1])
  bmis.append(i[2])
  insurance_costs.append(i[3])

# Print names, ages, bmis, and insurance_costs outside of the loop.    

print("Names: " + str(names))
print("Ages: " + str(ages))
print("BMIs: " + str(bmis))
print("Insurance costs: " + str(insurance_costs))

Names: ['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
Ages: ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
BMIs: ['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
Insurance costs: ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [12]:
# Now that all of our data is in separate lists, we can easily perform analysis on that data. 
# Let’s calculate the average BMI in our dataset.
# First, create a variable called total_bmi and set it equal to 0.

total_bmi = 0

# Next, use a for loop to iterate through bmis and add each bmi to total_bmi.

for i in bmis:
  total_bmi += float(i)

# After the for loop, create a variable called average_bmi that stores the total_bmi divided by the length of the bmis list.

average_bmi = round(total_bmi / len(bmis), 2)
print("Average BMI: {}".format(average_bmi))

Average BMI: 25.83

In [15]:
# Extra 1
# Calculate the average insurance cost in insurance_costs.

total_cost = 0
for i in insurance_costs:
   total_cost += float(i.strip("$"))
average_cost = round(total_cost / len(insurance_costs), 2)
print("Average insurance cost: {} US dollars".format(average_cost))

Average insurance cost: 8390.7 US dollars

In [16]:
# Extra 2
# Write a for loop that outputs a string for each individual

for i in range(len(names)):
  name = names[i]
  age = ages[i]
  bmi = bmis[i]
  insurance_cost = insurance_costs[i]
  print ("{} is {} years old with a BMI of {} and an insurance cost of {}.".format(name, age, bmi, insurance_cost))

MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0.
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0.
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0.
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0.
ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0.